.main_container {
  position: relative;

  width: 314px;
  height: 70px;
}

.dropdown_container {
  position: absolute;

  top: 0px;
  left: 0px;

  width: 314px;

  overflow: hidden;

  display: inline;

  z-index: 1;

  border-radius: 30px;
}

.input_container {
  width: 314px;
  height: 70px;

  background: #fff;
  border: none;

  position: relative;

  color: #2ed365;
  text-align: center;
  font-size: 24px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.option_container {
  width: 314px;
  height: 70px;

  background: none;
  border: none;
  background-color: white;

  color: #000;
  text-align: center;
  font-size: 16px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.ctx_icon {
  position: absolute;

  right: 35px;
  top: 35px;
}
