.main_container {
  background: url("../../assets/register-hero.svg");

  min-height: 100vh;
  background-size: contain;
  background-position: top;
  background-repeat: no-repeat;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  align-items: center;

  padding: 300px 0px 0px 0px;

  gap: 20px;
}
