.button_container {
  width: 146px;
  height: 39px;

  background: #30513E;
  border-radius: 15px;

  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 12px;

  text-align: center;

  color: #FFFFFF;

  outline: none;
  border: none;
}
