.main_container {
  background: url("https://images.unsplash.com/photo-1607851552752-146106c26e37?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80");

  width: 100vw;
  min-height: 100vh;
  background-size: cover;
  background-position: bottom;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  align-items: center;

  padding: 50px 0px;

  gap: 20px;
}

.schedule_container {
  height: 60vh;
  width: 80vw;

  background: #8bbf6999;
  border-radius: 15px;

  padding: 10px;

  overflow-y: scroll;
}

.bottom_buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  align-self: stretch;
  padding: 0px 40px;
}

.bottom_button {
  font-family: "Biryani";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 26px;

  text-align: center;

  color: #30513e;

  width: 113.72px;
  height: 26.32px;

  background: #ffffff;
  border-radius: 10px;
}

.divider {
  height: 1px;
  background-color: rgba(0, 0, 0, 0.75);
}

.participant_item {
  font-family: "Biryani";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 26px;

  display: flex;
  align-items: center;

  color: #ffffff;
}

.schedule_row {
  display: flex;
  flex-direction: row;

  font-family: "Biryani";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 26px;
  display: flex;
  align-items: center;

  color: #ffffff;

  height: 40px;
}

.time {
  width: 100px;
}
